.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
  border: 1px solid black;
}

.grid-div {
  /* background-color: tomato; */
  /* border: 1px solid black; */
}

.change-color{
  background-color: hsl(0, 0%, 18%);
}
